<h1 [class]="textRed" [style.fontSize]="fontSize">O nome é {{ retornaNome() }}</h1>

<img [src]="imageUrl" [alt]="imageDesc" [style.width.px]="widthImg">

<button [attr.aria-label]="buttonText" [style.backgroundColor]="bgColor">{{ buttonText }}</button>

<input #input (keyup)="clicou(input.value)">
{{ input.value }}


<input type="text" class="form-control" [(ngModel)]="textInput">
<p class="text-default">{{ textInput }}</p>


<app-button [btnText]="'cancelar'" [btnType]="'btn-danger'" (click)="destroiComponente()"></app-button>
<app-button [btnText]="'Salvar'" [btnType]="'btn-success'"></app-button>
<app-button btnText="Clique Aqui" btnType="btn-primary" (click)="incrementa()"></app-button>
<app-button btnText="teste" btnType="btn-default" (clickChildren)="clicouNoFilho($event)"></app-button>


<app-life-cycle [number]="number" *ngIf="!destroy"></app-life-cycle>
