<div class="card w-100 my-5">
  <div class="card-body">
    <h1 class="card-title text-center">Lista de Usuários</h1>
    <button class="btn btn-success mb-4 float-end" routerLink="/form">
      Cadastrar Novo
    </button>
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nome</th>
          <th>Idade</th>
          <th>Profissão</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Ivonaldo</td>
          <td>26</td>
          <td>Desenvolvedor</td>
          <td>
            <button class="btn btn-primary">Editar</button>
          </td>
          <td>
            <button class="btn btn-danger">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
