<div class="card w-100 my-5">
  <div class="card-body">
    <h1 class="card-title text-center">Lista de Usuários</h1>
    <button class="btn btn-success mb-4 float-end" routerLink="/form">
      Cadastrar Novo
    </button>
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nome</th>
          <th>Sobrenome</th>
          <th>Idade</th>
          <th>Profissão</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td>{{ user.nome }}</td>
          <td>{{ user.sobrenome }}</td>
          <td>{{ user.idade }}</td>
          <td>{{ user.profissao }}</td>
          <td>
            <button class="btn btn-primary" [routerLink]="['/form', user.id]">Editar</button>
          </td>
          <td>
            <button class="btn btn-danger" (click)="deleteUser(user.id)">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
