<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a routerLink="/" class="navbar-brand">Cadastro de Usuarios</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="/" class="nav-link">Usuarios</a>
        </li>
        <li class="nav-item">
          <a routerLink="/todo" class="nav-link">Lista de Tarefas</a>
        </li>
        <li class="nav-item">
          <a routerLink="/data-binding" class="nav-link">Data Binding</a>
        </li>
        <li class="nav-item">
          <a routerLink="/pipes" class="nav-link">Pipes</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
